{% extends "base.html" %}

{% block title %}
QUIZO | Contact
{% endblock %}

{% block body %}
<div style="font-size: 30px; margin-top: 2rem;">
   You can follow us on our social media:
</div>
<a href="https://www.facebook.com/afx.ae"><strong>Facebook</strong></a> <br>
<a href="https://www.instagram.com/afx.aep"><strong>Instagram</strong></a> <br>
<a href="https://www.twitter.com/afx_aep"><strong>Twitter</strong></a> <br>
<a href="https://www.behance.net/iamafzalashraf"><strong>Behance</strong></a>

{% endblock %}


{% block navbar%}
<li class="nav-item">
    <a href="/register" class="nav-link">
<!--<i class="nav-icon fas fa-tachometer-alt"></i> -->
      <p>
        Register
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/login" class="nav-link">
      <p>
        Login
      </p>
    </a>
  </li>
{% endblock %}